<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VSP_Farm"
        tools:targetApi="31">

        <activity
            android:name=".page.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.admin.AdminDashboardActivity"/>
        <activity android:name=".page.cashier.ItemPageActivity"/>
        <activity android:name=".page.admin.ViewUserActivity"/>
        <activity android:name=".page.CreateUserActivity"/>
        <activity android:name=".page.admin.item.AddItemActivity"/>
        <activity android:name=".page.admin.item.ItemListActivity"/>
        <activity android:name=".page.admin.item.EditItemActivity"/>
        <activity android:name=".page.admin.item.SubItemListActivity"/>
        <activity android:name=".page.admin.item.AddSubItemActivity"/>
        <activity android:name=".page.admin.item.EditSubItemActivity"/>
        <activity android:name=".page.admin.CreateCustomerActivity"/>
        <activity android:name=".page.admin.CustomerListActivity"/>
        <activity android:name=".page.admin.EditCustomerActivity"/>
        <activity android:name=".page.cashier.CashierDashBoard"/>
        <activity
            android:name=".page.cashier.BillingPageActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".page.cashier.BillListActivity"/>
        <activity android:name=".page.cashier.BillDetailsActivity"/>
        <activity android:name=".page.cashier.PayLoanActivity"/>
        <activity android:name=".page.admin.report.ReportActivity"/>
        <activity android:name=".page.admin.report.TodayReportActivity"/>



        <activity
            android:name=".page.PrintActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
    </application>

</manifest>